.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.loginButton {
    width: 100%;
    background-color: #ef5366;
    border-color: #fff;
}

.loginButton:hover {
    background-color: #ef5366;
}

.registerLink {
    color: #ef5366;
}